<!DOCTYPE html>
<html>
<head>
   
    
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;700&display=swap" rel="stylesheet">
    <link href="~/Content/indexstyle.css" rel="stylesheet"/>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>




<body>
    <!--Body section 1-->

    <div class="container1">
        <img src="~/Images/Picsart_24-03-06_12-27-57-653.png" class="Firstimage" />
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left" style="padding-left: 90px;">
                    <h2 style="font-size:50px">
                        Credible Solutions for<br />
                        Incredible Business
                    </h2><br />
                    <p style="font-family: Calibri; font-size: 18px;">Business Consulting Business, these slogans focus their <br /> advertisement towards.</p>
                    <button class="transparent-button">Request a Quote</button>
                    <button class="transparent-button1"><i class="fa-solid fa-play"></i>&nbsp;&nbsp;Watch About</button>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br />








    <!--Body section 2-->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" align="center">
                        <div class="circle"><i class="fas fa-home"></i></div><br />
                        <h5 class="card-title" align="center">Though Leadership</h5>
                        <p class="card-text">It showed a lady fitted out with a fur hat and fur boa who sat, raising </p><br />
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" align="center">
                        <div class="circle"><i class="fas fa-user"></i></div><br />
                        <h5 class="card-title">Business Consulting</h5>
                        <p class="card-text">It showed a lady fitted out with a fur hat and fur boa who sat, raising</p><br />
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" align="center">
                        <div class="circle"><i class="fas fa-cog"></i></div><br />
                        <h5 class="card-title">Market Research</h5>
                        <p class="card-text">It showed a lady fitted out with a fur hat and fur boa who sat, raising</p><br />
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div><br /><br /><br /><br />






    <!--Body section 3-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/Images/busi.jpg" class="img-fluid custom-border-radius" alt="Left Image">
                                <!-- First overlay button with background color fill -->
                                <button class="btn btn-primary overlay-button1">Get in touch<i class="fa-solid fa-caret-right"></i></button>
                                <!-- Second overlay button with transparent style -->
                                <button class="btn btn-outline-primary overlay-button2">More about us<i class="fa-solid fa-caret-right"></i></button>
                            </div>
                            <div class="col-md-6">
                                <!-- Right side content --><br />
                                <p class="titt">WELCOME TO OUR AGENCY!</p><br />
                                <p class="abc">We are in that Business, Which is concern with you</p><br /><br />
                                <p class="card-text">He thought. It wasn't a dream.His room, proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textitle samples lay spread out on te table Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, glided frame.</p>
                                <br /><br />
                                <h5 class="low">It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that</h5>
                                <br /><br />
                                <p class="card-text">Phone: 1254654525 | Email: example@demo.com</p>
                                <!-- Add more content here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br />





    <!--Body section 4-->
    <div class="overlay-container">
        <img src="~/Images/Untitled design.png" class="overlay-image" alt="Overlay Image">
        <div class="container text-center">
            <br />
            <h2 class="mb-4">WHAT WE DO</h2>
            <h4>What We Offer For You</h4><br /><br />
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card transparent-card">
                        <div class="card-body" style="color:white">
                            <i class="fas fa-desktop"></i>
                            <h5 class="card-title" style="color:white">Online Consulting</h5>
                            <p class="card-text">Textile smaples lay spreadout on the table samsa was a travelling salesman and above</p>
                        </div>
                    </div>
                </div>
                <!-- Repeat the above structure for the remaining two cards -->
                <div class="col-md-4">
                    <div class="card transparent-card">
                        <div class="card-body" style="color:white">
                            <i class="fas fa-warehouse"></i>
                            <h5 class="card-title" style="color:white">Product Consulting</h5>
                            <p class="card-text">Textile smaples lay spreadout on the table samsa was a travelling salesman and above </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card transparent-card">
                        <div class="card-body" style="color:white">
                            <i class="fa-solid fa-plane"></i>
                            <h5 class="card-title" style="color:white">Travel Consulting</h5>
                            <p class="card-text">Textile smaples lay spreadout on the table samsa was a travelling salesman and above</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card transparent-card">
                        <div class="card-body" style="color:white">
                            <i class="fa-solid fa-handshake"></i>
                            <h5 class="card-title" style="color:white">Business Consulting</h5>
                            <p class="card-text">Textile smaples lay spreadout on the table samsa was a travelling salesman and above</p>
                        </div>
                    </div>
                </div>
                <!-- Repeat the above structure for the remaining two cards -->
                <div class="col-md-4">
                    <div class="card transparent-card">
                        <div class="card-body" style="color:white">
                            <i class="fa-solid fa-truck"></i>
                            <h5 class="card-title" style="color:white">Transport Consulting</h5>
                            <p class="card-text">Textile smaples lay spreadout on the table samsa was a travelling salesman and above</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card transparent-card" style="color:white">
                        <div class="card-body">
                            <i class="fa-solid fa-dollar-sign"></i>
                            <h5 class="card-title" style="color:white">Financial Consulting</h5>
                            <p class="card-text">Textile smaples lay spreadout on the table samsa was a travelling salesman and above</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <br /><br /><br />





        <!--Body section 5-->

        <h2 align="center" style="color:black; font-size: 28px; font-family:Georgia;">Doing the right thing, at the right time.</h2><br /><br />

        <div class="container2">
            <div class="flex-container">
                <div class="flex-item">
                    <span class="number">250+</span><br />
                    <div>
                        <span class="description">Cases completed</span>
                    </div>
                </div>
                <div class="flex-item">
                    <span class="number">17+</span><br />
                    <div>
                        <span class="description">Years of Experience</span>
                    </div>
                </div>
                <div class="flex-item">
                    <span class="number">13+</span><br />
                    <div>
                        <span class="description">Award Winning</span>
                    </div>
                </div>
                <div class="flex-item">
                    <span class="number">100%</span><br />
                    <div>
                        <span class="description">Satisfied Customers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br />







    <!--Body section 6-->

    <div>
        <p class="see">SEE RECENT WORK</p>
        <p class="recent">Recent Case Studies</p><br /><br />
        <div class="photo-grid">
            <div class="photo-placeholder" style="background-image: url('../../Body sec/pexels-fauxels-3184287.jpg');"></div>
            <div class="photo-placeholder" style="background-image: url('../../Body sec/pexels-ivan-samkov-8117427.jpg');"></div>
            <div class="photo-placeholder" style="background-image: url('../../Body sec/pexels-ivan-samkov-8117474.jpg');"></div>
            <div class="photo-placeholder" style="background-image: url('../../Body sec/pexels-ketut-subiyanto-4350072.jpg');"></div>
            <div class="photo-placeholder" style="background-image: url('../../Body sec/pexels-tim-douglas-6205758.jpg');"></div>

        </div>
    </div><br /><br /><br /><br /><br /><br /><br />






    <!--Body section 7-->
    <div>
        <p class="see">TESTINOMIALS</p>
        <p class="recent">What People say's About us'</p><br /><br />
        <div class="container">
            <div class="testimonial-container">
                <div class="testimonial">
                    <div class="speech-bubble">
                        Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magzine and housed in a nice. gilded frame.It showed a lady fitted out with a fur hat.
                    </div><br />
                    <div class="profile-info">
                        <img src="~/profile pics/pexels-andrew-dick-697509.jpg" alt="Profile Picture" class="profile-pic">
                        <div class="text">
                            <p class="Joe">Joe Root</p>
                            <p>CEO of Dahs Foundation</p>
                        </div>
                    </div>
                </div>

                <div class="testimonial">
                    <div class="speech-bubble">
                        Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magzine and housed in a nice. gilded frame.It showed a lady fitted out with a fur hat.
                    </div><br />
                    <div class="profile-info">
                        <img src="~/profile pics/pexels-chloe-1043471.jpg" alt="Profile Picture" class="profile-pic">
                        <div class="text">
                            <p class="clarke">Michael Clarke</p>
                            <p>Business Advisor</p>
                        </div>
                    </div>
                </div>

                <div class="testimonial">
                    <div class="speech-bubble">
                        Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magzine and housed in a nice. gilded frame.It showed a lady fitted out with a fur hat.
                    </div><br />
                    <div class="profile-info">
                        <img src="~/profile pics/pexels-pixabay-415829.jpg" alt="Profile Picture" class="profile-pic">
                        <div class="text">
                            <p class="watson">Watson</p>
                            <p>Advisor</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><br /><br /><br /><br /><br /><br /><br />





    <!--Body section 8-->
    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <p class="see">OUR TEAM</p>
                <p class="recent">Meet Our Leadership Team</p><br /><br />
            </div>
            <div class="row people d-flex justify-content-center">
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url('../../team leaders images/Screenshot 2024-03-05 131456.jpg')">
                        <div class="cover">
                            <h3 class="name">Maria Mitchell</h3>
                            <p class="title">Marketing Manager</p>
                            <div class="social"><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url('../../team leaders images/Screenshot 2024-03-05 131531.jpg');">
                        <div class="cover">
                            <h3 class="name">Sarah Soyen</h3>
                            <p class="title">Marketing Manager</p>
                            <div class="social"><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image: url('../../team leaders images/Screenshot 2024-03-05 131601.jpg');">
                        <div class="cover">
                            <h3 class="name">Johannes Kepler</h3>
                            <p class="title">Marketing Manager</p>
                            <div class="social"><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><br /><br /><br /><br /><br /><br /><br />




    <!--Body section 9-->

    <div class="containerbs9">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="body-section">
                        <div class="title">Since 1950, we are providing the <br /> Consulting solution.</div><br />
                        <div class="content">
                            Gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="body-section">

                        <img src="~/Images/512px-Phone_sign_font_awesome.svg.png" alt="phimg" height="80" width="80" style="margin-right:210px; margin-top:45px" />

                        <br />
                        <p class="phone">+6454765754</p>
                        <button class="transparent-button3">Contact With Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div><br /><br /><br /><br /><br /><br />


    <!--Body section 10-->

    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <p class="see">RECENT WORKS</p>
                <p class="recent">Latest from the Blog</p><br /><br />
            </div>
            <div class="row people d-flex justify-content-center">
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image: url('../../lastsectionimages/lastbodysec1.jpg');">
                        <div class="cover">
                            <p class="subcontent">July 2,2021 -&nbsp; <i class="fa-regular fa-comments"></i>&nbsp;Comments(0)</p>
                            <p class="maincontent">Marketing Activities Better If You<br /> Want to be Effective</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image: url('../../lastsectionimages/lastbodysec2.jpg');">
                        <div class="cover">
                            <p class="subcontent">August 5,2020 -&nbsp; <i class="fa-regular fa-comments"></i>Comments(0)</p>
                            <p class="maincontent">Business and Product You Want<br /> Indlibly Etched.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image: url('../../lastsectionimages/lastbodysec3.jpg');">
                        <div class="cover">
                            <p class="subcontent">September 23,2023 -&nbsp; <i class="fa-regular fa-comments"></i>&nbsp;Comments(0)</p>
                            <p class="maincontent">Your Business Consulting<br /> is all about.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <br /><br /><br /><br /><br /><br />

</body>
</html>
